<div class="w-full h-screen bg-indigo-500 flex flex-col items-center justify-center">
  <h1 class="text-7xl text-indigo-50 text-center"> Test Rails 8 deploy about page </h1>
  <p class="text-2xl text-gray-200 mt-8 text-center"> This is the about page. </p>
  <div class="mt-8 flex items-center justify-center"> 
    <%= link_to "Back to welcome page", "/", class: "px-5 py-2 rounded-full bg-pink-500 text-pink-50 border-2 border-pink-100 hover:scale-105 trasition-all duration-150 " %>
  </div>
</div>